.contact-us-info {
  width: 90%;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../public/contact-us-info-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 24px;

  @media screen and (max-width: 800px) {
    margin-top: 50px;
  }

  &__wrapper {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 800px) {
      padding: 20px;
      flex-direction: column;
    }
  }

  .left-content {
    width: 50%;

    @media screen and (max-width: 800px) {
      width: 100%;
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #5483df;

      @media screen and (max-width: 800px) {
        font-size: 16px;
      }
    }

    &__tagline {
      font-weight: 700;
      font-size: 32px;
      line-height: 140%;
      color: #f4f4f4;
      margin-bottom: 12px;

      @media screen and (max-width: 800px) {
        font-size: 26px;
      }
    }

    &__message {
      font-size: 14px;
      line-height: 160%;
      color: #ffffff;
      margin-bottom: 40px;
    }

    &__btn {
      padding: 16px 40px;
      width: 168px;
      height: 54px;
      background: #ffffff;
      border: 1px solid #1454b6;
      box-shadow: 0px 0px 8px rgba(29, 29, 29, 0.1);
      border-radius: 8px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #1454b6;
      cursor: pointer;
    }
  }

  .right-content {
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }

    &__wrapper {
      display: flex;
      gap: 40px;

      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        gap: 20px;
      }
    }

    .email {
      display: flex;
      gap: 16px;
      padding: 16px;
      box-shadow: 0px 0px 8px rgba(29, 29, 29, 0.1);
      border-radius: 12px;
      background-color: white;

      &__logo-wrapper {
        display: flex;
        align-items: center;
      }

      &__logo {
        width: 32px;
        height: 32px;
      }

      &__label {
        font-size: 12px;
        line-height: 160%;
        color: #666666;
      }

      &__value {
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        color: #1f1f1f;
      }
    }

    .phone {
      display: flex;
      gap: 16px;
      padding: 16px;
      box-shadow: 0px 0px 8px rgba(29, 29, 29, 0.1);
      border-radius: 12px;
      background-color: white;

      &__logo-wrapper {
        display: flex;
        align-items: center;
      }

      &__logo {
        width: 32px;
        height: 32px;
      }

      &__label {
        font-size: 12px;
        line-height: 160%;
        color: #666666;
      }

      &__value {
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        color: #1f1f1f;
      }
    }
  }
}
