.products-and-services {
    &__landing-container {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url("../../../public/product-and-services-landing.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}