.menu-bar {
  display: flex;
  height: 4.5rem;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1.5rem 0 1.5rem;
  background: #ffffff;

  &__logo {
    width: 100px;
    height: auto;
  }

  &__label {
    a {
      color: #1f1f1f !important;
      text-decoration: none !important;
      align-items: center;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__labelActive {
    a {
      color: #1454b6;
      font-weight: 700;
      border-bottom: 2px solid #1454b6;
    }
  }
}
