.menu-bar {
  display: flex;
  height: 4.5rem;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1.5rem 0 1.5rem;
  background: #FFFFFF;

  &__label {
    align-items: center;
    text-align: end;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #1F1F1F;
  }
}
