.hero-header {
  .wrapper {
    margin-bottom: 100px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../../../public/csr-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 800px) {
      margin-bottom: 40px;
      padding: 0 10px;
    }

    span {
      display: inline;
    }

    &__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 140%;
      text-align: center;

      @media screen and (max-width: 800px) {
        font-size: 36px;
      }
    }

    &__subtitle {
      display: flex;
      justify-content: center;
      gap: 10px;

      @media screen and (max-width: 800px) {
        gap: 3px;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 160%;
    }

    &__page-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: #bbd0fb;
      @media screen and (max-width: 800px) {
        line-height: 160%;
      }
    }
  }
}
